<%- include("partials/header") -%>




<h1>Compose</h1>

<form method="post" action="/compose">
    <input type="text" name="newJournalEntry" autocomplete="off">
    <button type="submit" name="publishButton">Publish</button>

</form>




<%- include("partials/footer") -%>